<section class='spash-main'>
    <%= image_tag 'logo.gif', class: 'spash-logo' %>
    <%= link_to 'LOG  IN', new_user_session_path, class: 'button' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'button' %>
</section>