  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Account Settings</a>
    <a href="#">Merchant Finder</a>
    <a href="#">Claim promo</a>
    <a href="#">Share promo</a>
  </div>
  <div class='header'>
    <div onclick="openNav()">
      <%= image_tag ("hamburger.png") %>
    </div>
  </div>
  <div id="main">
  </div> 
