<div id="<%= dom_id commodity %>">
  <p>
    <strong>Name:</strong>
    <%= commodity.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= commodity.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= commodity.user_id %>
  </p>

</div>
