<h1>Editing commodity</h1>

<%= render "form", commodity: @commodity %>

<br>

<div>
  <%= link_to "Show this commodity", @commodity %> |
  <%= link_to "Back to commodities", commodities_path %>
</div>
