/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #3778c2;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.spash-main a {
  text-decoration: none;
}

.green-button-section a {
  text-decoration: none;
  color: #fff;
}

.sidenav a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

.header {
  background-color: #3778c2;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.spash-main {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.6rem;
  height: 100%;
  place-content: center;
  place-items: center;
}

.spash-main .button {
  background-color: #3778c2;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.spash-main .button:last-of-type {
  background-color: #fff;
  color: #434b54;
}

.spash-main .button:hover {
  background-color: #5fb523;
  color: #3778c2;
  transform: scale(1.1);
}

.splash-header {
  display: none;
}

.search-section {
  width: 10%;
  height: 50%;
}

.search-image {
  width: 100%;
  height: 100%;
}

.commodity-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.commodities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.commodities:first-child {
  margin-top: 0;
}

.commodities:last-child {
  margin-top: 0;
}

.green-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5fb523;
  width: 100%;
  padding: 20px;
}

.new-category-button {
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 120px;
}
